[Desktop Entry]
Type=Application
Exec={{ ansible_env.HOME }}/.dotfiles/conky/start_conkys.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Conkys
Name=Conkys
Comment[en_US]=Start all conkys
Comment=Start all conkys
X-GNOME-Autostart-Delay=0
